body {
  background-color: var(--bgColor2);
}
#app {
  padding-top: 64px;
}
.card {
  padding: 24px;
  border-radius: 8px;
  background: var(--bgColor1);
  width: 100%;
}
.card_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.card_title_name {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
  color: var(--gray);
}
